Notebooks/archive/detect_and_alert.json
{
    "name": "Detect_And_Alert",
    "objectId": "f585b231-bfe2-4e29-a068-84babb06b12d",
    "properties": {
        "activities": [
            {
                "name": "UpdateMonitoringConfigTime",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "ForEach CapacityChange",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.set-or-replace MonitoringLastRunTime <| print LastRunTime = todatetime(\"', variables('now'), '\")')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "Set now var",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "now",
                    "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "AlertsByDataverseAOP",
                "description": "Load AlertLogs, if user create items, for workspace that has dataverse setting as AOP off and create items that are not allowed for such workspace.",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "Set now var",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.append AlertLogs <|    \n    let lastRunParam = toscalar(MonitoringLastRunTime | summarize max(LastRunTime));\n    let startTimeFilter = iff(isnull(lastRunParam), ago(100d), lastRunParam);\n    let ak = AllowedItemKind;\n    let wl = WorkspaceLogs\n    | where ingestion_time() > startTimeFilter\n    | where ingestion_time() < todatetime(\"', variables('now'),'\")\n    | extend IngestionTime = ingestion_time()\n    | where type == \"Microsoft.Fabric.ItemCreateSucceeded\"\n    | project WorkspaceName = data_workspaceName, data_workspaceId, wstime = [\"time\"], data_itemName, data_itemId, data_itemKind, type, IngestionTime, UserId = data_executingPrincipalId;\n    let aop =\n    DataverseWorkspace\n    | extend IngestionTime = ingestion_time()\n    | summarize arg_max(IngestionTime, *) by WorkspaceId\n    | where OAPActivity == \"DisableWorkspaceOutboundAccessProtection\"\n    | where IsMonitored == true\n    | project WorkspaceId, Activity= OAPActivity;\n    wl\n    | join kind = inner \n        aop\n        on  $left.data_workspaceId == $right.WorkspaceId\n    | join kind = leftanti \n        ak\n        on $left.data_itemKind == $right.ItemKind\n    | extend AlertStatus = \"Initial\"\n    | project WorkspaceName, WorkspaceId, wstime, data_itemKind, data_itemName, data_itemId, AlertStatus, UserId\n    // 3. Filter out records that already exist in the destination table\n    | join kind=leftanti (\n        AlertLogs \n    ) on WorkspaceId, data_itemId')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ListAlertWorkspaces",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('ListAlertWorkspaces').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Update Status",
                            "type": "KustoQueryLanguage",
                            "dependsOn": [
                                {
                                    "activity": "Office365Email2",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "command": {
                                    "value": "@concat('.set-or-append AlertLogs <| \nlet targetWorkspaceId = toguid(\"', item().WorkspaceId,'\");\nlet targetItemIdsString = \"', item().ItemIds,'\";\nlet targetItemIds = split(replace_string(targetItemIdsString, \" \", \"\"), \",\");\nAlertLogs\n| extend IngestionTime = ingestion_time()\n| summarize arg_max(IngestionTime, *) by WorkspaceId, data_itemId\n| where WorkspaceId == targetWorkspaceId and data_itemId in (targetItemIds)\n| project WorkspaceName, WorkspaceId, wstime, data_itemKind, data_itemName, data_itemId, AlertStatus = \"EmailSent\", UserId\n')",
                                    "type": "Expression"
                                },
                                "commandTimeout": "00:20:00"
                            },
                            "linkedService": {
                                "name": "MonitoringEventhouse",
                                "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                                "properties": {
                                    "annotations": [],
                                    "type": "KustoDatabase",
                                    "typeProperties": {
                                        "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                                        "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                                        "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Office365Email2",
                            "type": "Office365Email",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "to": {
                                    "value": "@item().emails",
                                    "type": "Expression"
                                },
                                "subject": "[Fabric] Workspace Monitoring Notification",
                                "body": "@concat(\n  '<div style=\"font-family:Arial, sans-serif; font-size:14px; line-height:1.6;\">',\n  '<p style=\"font-style:italic; color:#666;\">This notification is sent as part of Fabric Workspace Monitoring. <a href=\"https://myhub.ubs.net/myhub/assist/articles/420960\">Learn more</a></p>',\n  '<p>Dear Workspace Owner,</p>',\n  '<p>Fabric Workspace Monitoring detected following artifacts and is in process of deletion, as they were not allowed in your workspace <strong>', item().WorkspaceId, '</strong>. As mentioned in <a href=\"https://myhub.ubs.net/myhub/assist/articles/420960\">article link</a>.</p>',\n  '<table border=\"1\" style=\"border-collapse:collapse; font-family:Arial; width:100%; margin:20px 0;\">',\n  '<thead><tr style=\"background-color:#E60000; color:white; font-weight:bold;\">',\n  '<th style=\"padding:8px;\">Workspace ID</th>',\n  '<th style=\"padding:8px;\">Item ID</th>',\n  '<th style=\"padding:8px;\">Item Type</th>',\n  '<th style=\"padding:8px;\">Creator ID</th>',\n  '<th style=\"padding:8px;\">Created At</th>',\n  '</tr></thead><tbody>',\n  item().HtmlRows,\n  '</tbody></table>',\n  '<p>To learn more about Fabric, visit <a href=\"https://goto/powerhub\">goto/powerhub</a>.</p>',\n  '<p>For more information about constraints and limitations, visit <a href=\"https://ubscloud.sharepoint.com/teams/powerhub/SitePages/Power-Apps-Automate-Constraints.aspx?isSPOFile=1&xsdata=MDV8MDJ8fGQ0ZGMzMTFhNGY1NDQ5N2E1MDA0MDhkZTk2NDliOWU5fGZiNmVhNDAzN2NmMTQ5MDU4MTBhZmU1NTQ3ZTk4MjA0fDB8MHw2MzkxMTM0NDA1MjkwNDY0NzN8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKRFFTSTZJbFJsWVcxelgwRlVVRk5sY25acFkyVmZVMUJQVEU5R0lpd2lWaUk2SWpBdU1DNHdNREF3SWl3aVVDSTZJbGRwYmpNeUlpd2lRVTRpT2lKUGRHaGxjaUlzSWxkVUlqb3hNWDA9fDF8TDJOb1lYUnpMekU1T20xbFpYUnBibWRmVFZkT2ExcHFTVEphVkVWMFRXMVZNMWxUTURCTmFrNXJURlJyTkZwSFVYUlBSRVUwVG0xVk5FMXFTVEZPVkZKb1FIUm9jbVZoWkM1Mk1pOXRaWE56WVdkbGN5OHhOemMxTnpRM01qVXhOVEE1fDFmM2NlYzdkZWRhNjRiNjBjOTEzMDhkZTk2NDliOWU4fGU0MWY2MGNlNGM0YzRkZjY4NTEwZjk4ZjA1OTVkZjg0&sdata=ZnVHQm01Y0tZSkwrTGtwZDZ1Zlc0SEVsNmFLZ2FMS2dLUldwOXNjNUhBZz0%3D&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Cabaubinas%40microsoft.com\">Power Platform constraints</a> or <a href=\"https://ubscloud.sharepoint.com/teams/powerhub/SitePages/Power-BI-Constraints.aspx?isSPOFile=1&xsdata=MDV8MDJ8fGQ0ZGMzMTFhNGY1NDQ5N2E1MDA0MDhkZTk2NDliOWU5fGZiNmVhNDAzN2NmMTQ5MDU4MTBhZmU1NTQ3ZTk4MjA0fDB8MHw2MzkxMTM0NDA1MjkwNjcyNzl8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKRFFTSTZJbFJsWVcxelgwRlVVRk5sY25acFkyVmZVMUJQVEU5R0lpd2lWaUk2SWpBdU1DNHdNREF3SWl3aVVDSTZJbGRwYmpNeUlpd2lRVTRpT2lKUGRHaGxjaUlzSWxkVUlqb3hNWDA9fDF8TDJOb1lYUnpMekU1T20xbFpYUnBibWRmVFZkT2ExcHFTVEphVkVWMFRXMVZNMWxUTURCTmFrNXJURlJyTkZwSFVYUlBSRVUwVG0xVk5FMXFTVEZPVkZKb1FIUm9jbVZoWkM1Mk1pOXRaWE56WVdkbGN5OHhOemMxTnpRM01qVXhOVEE1fDFmM2NlYzdkZWRhNjRiNjBjOTEzMDhkZTk2NDliOWU4fGU0MWY2MGNlNGM0YzRkZjY4NTEwZjk4ZjA1OTVkZjg0&sdata=Z1ZTcFRzajU0Z01yNkZBcmVyejdFTkpKb1Z4V0lUTCtFYXBOcURudFNmMD0%3D&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Cabaubinas%40microsoft.com\">Power BI constraints</a>.</p>',\n  '<p><strong>Best regards,</strong><br>',\n  'UBS BizApps Team<br>',\n  'Group Functions</p>',\n  '<hr style=\"border:none; border-top:1px solid #ccc; margin:20px 0;\">',\n  '<p style=\"font-size:12px; color:#999;\">',\n  'Please do not reply to this automatically generated email as the mailbox is not monitored.<br>',\n  '© UBS ', utcNow('yyyy'), '. For internal use only.',\n  '</p>',\n  '</div>'\n)"
                            },
                            "externalReferences": {
                                "connection": "371bdff8-1e2c-4a6a-9836-4494786f0b3e"
                            }
                        }
                    ]
                }
            },
            {
                "name": "ListAlertWorkspaces",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set No Email",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "KustoDatabaseSource",
                        "query": {
                            "value": "@concat('let latestWorkspaceEmail = \nworkspace_owner\n| where isnotempty(trim(\" \", PrimaryEmail)) or isnotempty(trim(\" \", SecondaryEmail))\n| extend emails = strcat(PrimaryEmail, \";\", SecondaryEmail)\n| summarize arg_max(ingestion_time(), emails) by workspaceId\n| project emails, workspaceId;\nAlertLogs\n| where ingestion_time() > todatetime(\"', variables('now'), '\")\n| extend IngestionTime = ingestion_time()\n| summarize arg_max(IngestionTime, *) by WorkspaceId, data_itemId\n| join kind=inner (latestWorkspaceEmail) on $left.WorkspaceId == $right.workspaceId\n| project WorkspaceId,\n    emails,\n    data_itemId,\n    htmlRow = strcat(\n    ''<tr>'',\n    ''<td style=\"padding:8px;\">'' , WorkspaceId, ''</td>'',\n    ''<td style=\"padding:8px;\">'', data_itemId, ''</td>'',\n    ''<td style=\"padding:8px;\">'', data_itemKind, ''</td>'',\n    ''<td style=\"padding:8px;\">'', UserId, ''</td>'',\n    ''<td style=\"padding:8px;\">'', format_datetime(wstime, ''yyyy-MM-dd HH:mm''), ''</td>'',\n    ''</tr>''\n)\n| summarize HtmlRows = strcat_array(make_list(htmlRow), ''''),\n    ItemIds = strcat_array(make_list(data_itemId),\", \") by WorkspaceId, emails')",
                            "type": "Expression"
                        },
                        "queryTimeout": "01:00:00",
                        "noTruncation": true
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "MonitoringEventhouse",
                            "properties": {
                                "annotations": [],
                                "type": "KustoDatabase",
                                "typeProperties": {
                                    "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                                    "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                                    "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                                }
                            }
                        },
                        "type": "KustoDatabaseTable",
                        "schema": []
                    }
                }
            },
            {
                "name": "AlertsIfDisableAOP",
                "description": "Load AlertLogs, if user disable manually AOP Workspace setting and create items. This logic will delete items even if AOP was disabled for a very short amount of time",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "AlertsByDataverseAOP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.append AlertLogs <| \nlet lastRunParam = toscalar(MonitoringLastRunTime | summarize max(LastRunTime));\nlet startTimeFilter = case(isnull(lastRunParam), ago(100d), lastRunParam > ago(1h), ago(1h), lastRunParam);\nlet ak = AllowedItemKind;\nlet wl = WorkspaceLogs\n| where ingestion_time() > startTimeFilter\n| where ingestion_time() < todatetime(\"', variables('now'),'\")\n| extend IngestionTime = ingestion_time()\n| where type == \"Microsoft.Fabric.ItemCreateSucceeded\"\n| project WorkspaceName = data_workspaceName, data_workspaceId, wstime = [\"time\"], data_itemName, data_itemId, data_itemKind, type, IngestionTime, UserId = data_executingPrincipalId;\nlet daop =\nDataverseWorkspace\n| summarize arg_max(ingestion_time(), OAPActivity, IsMonitored) by WorkspaceId\n| where OAPActivity == \"EnableWorkspaceOutboundAccessProtection\"\n| where IsMonitored == true\n| project WorkspaceId;\nlet aop =\nWorkspaceOutboundAccessProtection\n| extend IngestionTime = ingestion_time()\n| order by WorkspaceId, CreationTime asc\n| serialize \n| extend NextCreationTime = next(CreationTime)\n| extend NextActivity = next(Activity)\n| extend NextWorkspaceId = next(WorkspaceId)\n| extend endTime = iff(WorkspaceId == NextWorkspaceId and Activity != NextActivity, NextCreationTime, datetime(2999-01-01))\n| where Activity == \"DisableWorkspaceOutboundAccessProtection\"\n| project WorkspaceId, startTime = CreationTime, endTime;\nwl\n| join kind = inner \n    daop\n    on $left.data_workspaceId == $right.WorkspaceId\n| join kind = inner \n    aop\n    on  $left.data_workspaceId == $right.WorkspaceId\n| join kind = leftanti \n    ak\n    on $left.data_itemKind == $right.ItemKind\n| where wstime > startTime and wstime <= endTime\n| extend AlertStatus = \"Initial\"\n| project WorkspaceName, WorkspaceId, wstime, data_itemKind, data_itemName, data_itemId, AlertStatus, UserId\n// 3. Filter out records that already exist in the destination table\n| join kind=leftanti (\n    AlertLogs \n) on WorkspaceId, data_itemId')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "AlertsWhenAOPShouldBeEnabled",
                "description": "Load AlertLogs table, if Dataverse AOP is AOP enabled and Fabric logs show it is Disabled - > then we need to log for more item kinds",
                "type": "KustoQueryLanguage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [
                    {
                        "activity": "AlertsIfDisableAOP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.append AlertLogs <| \nlet lastRunParam = toscalar(MonitoringLastRunTime | summarize max(LastRunTime));\nlet startTimeFilter = case(isnull(lastRunParam), ago(100d), lastRunParam > ago(1h), ago(1h), lastRunParam);\nlet ak = AllowedAOPItemKind;\nlet wl = WorkspaceLogs\n| where ingestion_time() > startTimeFilter\n| where ingestion_time() < todatetime(\"', variables('now'),'\")\n| extend IngestionTime = ingestion_time()\n| where type == \"Microsoft.Fabric.ItemCreateSucceeded\"\n| project WorkspaceName = data_workspaceName, data_workspaceId, wstime = [\"time\"], data_itemName, data_itemId, data_itemKind, type, IngestionTime;\nlet aop =\nWorkspaceOutboundAccessProtection\n| summarize arg_max(CreationTime, Activity) by WorkspaceId\n| where Activity == \"DisableWorkspaceOutboundAccessProtection\"\n| project WorkspaceId;\nlet daop =\nDataverseWorkspace\n| summarize arg_max(ingestion_time(), OAPActivity, IsMonitored) by WorkspaceId\n| where IsMonitored == true\n| where OAPActivity == \"EnableWorkspaceOutboundAccessProtection\"\n| project WorkspaceId;\nwl\n| join kind = inner \n    aop\n    on  $left.data_workspaceId == $right.WorkspaceId\n| join kind = inner \n    daop\n    on  $left.data_workspaceId == $right.WorkspaceId\n| join kind = leftanti \n    ak\n    on $left.data_itemKind == $right.ItemKind\n| project WorkspaceName, WorkspaceId, wstime, data_itemKind, data_itemName, data_itemId\n| extend AlertStatus = \"Initial\"\n// 3. Filter out records that already exist in the destination table\n| join kind=leftanti (\n    AlertLogs \n) on WorkspaceId, data_itemId')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "AOPChangeAlertLog",
                "description": "Add to AOPAlertLogs that capacity was changed and if it needs to be switched back to original setting",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "ForEach1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.append AOPAlertLogs <|\nlet lastRunParam = toscalar(MonitoringLastRunTime | summarize max(LastRunTime));\nlet startTimeFilter = case(isnull(lastRunParam), ago(100d), lastRunParam > ago(1h), ago(1h), lastRunParam);\nlet daop =\nDataverseWorkspace\n| summarize arg_max(ingestion_time(), OAPActivity, IsMonitored) by WorkspaceId\n| where IsMonitored = true\n| project daopWorkspaceId = WorkspaceId, daopActivity = OAPActivity;\nlet aop = \nWorkspaceOutboundAccessProtection\n| where ingestion_time() > startTimeFilter\n| where ingestion_time() < todatetime(\"', variables('now'),'\")\n| project Activity, WorkspaceId, CreationTime,Id, UserId, UserKey;\nlet laop = \nWorkspaceOutboundAccessProtection\n| where ingestion_time() > startTimeFilter\n| where ingestion_time() < todatetime(\"', variables('now'),'\")\n| summarize arg_max(CreationTime, Activity) by WorkspaceId\n| project WorkspaceId, LastActivity = Activity;\nlet al = AOPAlertLogs\n| project Id;\naop\n| join kind=inner (\n    daop \n) on $left.WorkspaceId == $right.daopWorkspaceId\n| join kind=inner (\n    laop\n) on WorkspaceId\n| join kind=leftanti (\n    al\n) on Id\n| where Activity !=daopActivity\n| project WorkspaceId, ToChangeAOP = iif(LastActivity==daopActivity,false,true), AOP = LastActivity, AOPMustBe = daopActivity, CreationTime, UserId, AlertStatus = \"Initial\", Id, UserKey')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "ForEach CapacityChange",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ListAlertChangedAOPWorkspaces",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('ListAlertChangedAOPWorkspaces').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Update Status_copy1",
                            "type": "KustoQueryLanguage",
                            "dependsOn": [
                                {
                                    "activity": "Office365Email2_copy1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "command": {
                                    "value": "@concat('.append AOPAlertLogs <|\nlet targetWorkspaceId = toguid(\"', item().WorkspaceId,'\");\nlet TargetIdsString = \"', item().Ids,'\";\nlet targetIds = split(replace_string(TargetIdsString,\" \", \"\"),  \",\");\nAOPAlertLogs\n| where ingestion_time() > todatetime(\"', variables('now'), '\")\n| summarize arg_max(CreationTime, *) by WorkspaceId, Id\n| where AlertStatus == \"Initial\"\n| where WorkspaceId == targetWorkspaceId and Id in (targetIds)\n| project WorkspaceId, ToChangeAOP, AOP, AOPMustBe, CreationTime, UserId, AlertStatus = \"EmailSent\", Id, UserKey\n')",
                                    "type": "Expression"
                                },
                                "commandTimeout": "00:20:00"
                            },
                            "linkedService": {
                                "name": "MonitoringEventhouse",
                                "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                                "properties": {
                                    "annotations": [],
                                    "type": "KustoDatabase",
                                    "typeProperties": {
                                        "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                                        "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                                        "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Office365Email2_copy1",
                            "type": "Office365Email",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "to": {
                                    "value": "@item().emails",
                                    "type": "Expression"
                                },
                                "subject": "[Fabric] Workspace Monitoring Notification",
                                "body": "@concat(\n  '<div style=\"font-family:Arial, sans-serif; font-size:14px; line-height:1.6;\">',\n  '<p style=\"font-style:italic; color:#666;\">This notification is sent as part of Fabric Workspace Monitoring. <a href=\"https://myhub.ubs.net/myhub/assist/articles/420960\">Learn more</a></p>',\n  '<p>Dear Workspace Owner,</p>',\n  '<p>Fabric Workspace Monitoring detected Outbound Access Protection change in your WorkspaceId <strong>', item().WorkspaceId, '</strong> , which is not allowed as mentioned in <a href=\"https://myhub.ubs.net/myhub/assist/articles/420960\">article link</a>.</p>',\n  '<table border=\"1\" style=\"border-collapse:collapse; font-family:Arial; width:100%; margin:20px 0;\">',\n  '<thead><tr style=\"background-color:#E60000; color:white; font-weight:bold;\">',\n  '<th style=\"padding:8px;\">Workspace ID</th>',\n  '<th style=\"padding:8px;\">Baseline OAP Setting</th>',\n  '<th style=\"padding:8px;\">Detected Change</th>',\n  '<th style=\"padding:8px;\">Creator ID</th>',\n  '<th style=\"padding:8px;\">Created At</th>',\n  '</tr></thead><tbody>',\n  item().HtmlRows,\n  '</tbody></table>',\n  '<p>To learn more about Fabric, visit <a href=\"https://goto/powerhub\">goto/powerhub</a>.</p>',\n  '<p>For more information about constraints and limitations, visit <a href=\"https://ubscloud.sharepoint.com/teams/powerhub/SitePages/Power-Apps-Automate-Constraints.aspx?isSPOFile=1&xsdata=MDV8MDJ8fGQ0ZGMzMTFhNGY1NDQ5N2E1MDA0MDhkZTk2NDliOWU5fGZiNmVhNDAzN2NmMTQ5MDU4MTBhZmU1NTQ3ZTk4MjA0fDB8MHw2MzkxMTM0NDA1MjkwNDY0NzN8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKRFFTSTZJbFJsWVcxelgwRlVVRk5sY25acFkyVmZVMUJQVEU5R0lpd2lWaUk2SWpBdU1DNHdNREF3SWl3aVVDSTZJbGRwYmpNeUlpd2lRVTRpT2lKUGRHaGxjaUlzSWxkVUlqb3hNWDA9fDF8TDJOb1lYUnpMekU1T20xbFpYUnBibWRmVFZkT2ExcHFTVEphVkVWMFRXMVZNMWxUTURCTmFrNXJURlJyTkZwSFVYUlBSRVUwVG0xVk5FMXFTVEZPVkZKb1FIUm9jbVZoWkM1Mk1pOXRaWE56WVdkbGN5OHhOemMxTnpRM01qVXhOVEE1fDFmM2NlYzdkZWRhNjRiNjBjOTEzMDhkZTk2NDliOWU4fGU0MWY2MGNlNGM0YzRkZjY4NTEwZjk4ZjA1OTVkZjg0&sdata=ZnVHQm01Y0tZSkwrTGtwZDZ1Zlc0SEVsNmFLZ2FMS2dLUldwOXNjNUhBZz0%3D&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Cabaubinas%40microsoft.com\">Power Platform constraints</a> or <a href=\"https://ubscloud.sharepoint.com/teams/powerhub/SitePages/Power-BI-Constraints.aspx?isSPOFile=1&xsdata=MDV8MDJ8fGQ0ZGMzMTFhNGY1NDQ5N2E1MDA0MDhkZTk2NDliOWU5fGZiNmVhNDAzN2NmMTQ5MDU4MTBhZmU1NTQ3ZTk4MjA0fDB8MHw2MzkxMTM0NDA1MjkwNjcyNzl8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKRFFTSTZJbFJsWVcxelgwRlVVRk5sY25acFkyVmZVMUJQVEU5R0lpd2lWaUk2SWpBdU1DNHdNREF3SWl3aVVDSTZJbGRwYmpNeUlpd2lRVTRpT2lKUGRHaGxjaUlzSWxkVUlqb3hNWDA9fDF8TDJOb1lYUnpMekU1T20xbFpYUnBibWRmVFZkT2ExcHFTVEphVkVWMFRXMVZNMWxUTURCTmFrNXJURlJyTkZwSFVYUlBSRVUwVG0xVk5FMXFTVEZPVkZKb1FIUm9jbVZoWkM1Mk1pOXRaWE56WVdkbGN5OHhOemMxTnpRM01qVXhOVEE1fDFmM2NlYzdkZWRhNjRiNjBjOTEzMDhkZTk2NDliOWU4fGU0MWY2MGNlNGM0YzRkZjY4NTEwZjk4ZjA1OTVkZjg0&sdata=Z1ZTcFRzajU0Z01yNkZBcmVyejdFTkpKb1Z4V0lUTCtFYXBOcURudFNmMD0%3D&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Cabaubinas%40microsoft.com\">Power BI constraints</a>.</p>',\n  '<p><strong>Best regards,</strong><br>',\n  'UBS BizApps Team<br>',\n  'Group Functions</p>',\n  '<hr style=\"border:none; border-top:1px solid #ccc; margin:20px 0;\">',\n  '<p style=\"font-size:12px; color:#999;\">',\n  'Please do not reply to this automatically generated email as the mailbox is not monitored.<br>',\n  '© UBS ', utcNow('yyyy'), '. For internal use only.',\n  '</p>',\n  '</div>'\n)"
                            },
                            "externalReferences": {
                                "connection": "371bdff8-1e2c-4a6a-9836-4494786f0b3e"
                            }
                        }
                    ]
                }
            },
            {
                "name": "ListAlertChangedAOPWorkspaces",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Set AOP No Email",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "KustoDatabaseSource",
                        "query": {
                            "value": "@concat('let latestWorkspaceEmail = \nworkspace_owner\n| where isnotempty( trim(\" \", PrimaryEmail)) or isnotempty( trim(\" \", SecondaryEmail))\n| extend emails = strcat(PrimaryEmail,\";\",SecondaryEmail)\n| summarize arg_max(ingestion_time(), emails) by workspaceId\n| project emails, workspaceId;\nAOPAlertLogs\n| where ingestion_time() > todatetime(\"', variables('now'), '\")\n| extend IngestionTime = ingestion_time()\n| summarize arg_max(CreationTime, UserId, AlertStatus, Id, AOPMustBe, AOP, UserKey) by WorkspaceId, Id\n| where AlertStatus == \"Initial\"\n| join kind=inner (\n    latestWorkspaceEmail\n) on $left.WorkspaceId == $right.workspaceId\n| project WorkspaceId,\n    emails,\n    Id,\n    htmlRow = strcat(\n    ''<tr>'',\n    ''<td style=\"padding:8px;\">'' , WorkspaceId, ''</td>'',\n    ''<td style=\"padding:8px;\">'', AOPMustBe, ''</td>'',\n    ''<td style=\"padding:8px;\">'', AOP, ''</td>'',\n    ''<td style=\"padding:8px;\">'', UserKey, ''</td>'',\n    ''<td style=\"padding:8px;\">'', format_datetime(CreationTime, ''yyyy-MM-dd HH:mm''), ''</td>'',\n    ''</tr>''\n)\n| summarize HtmlRows = strcat_array(make_list(htmlRow), ''''),\n    Ids = strcat_array(make_list(Id),\", \") by WorkspaceId, emails')",
                            "type": "Expression"
                        },
                        "queryTimeout": "01:00:00",
                        "noTruncation": true
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "MonitoringEventhouse",
                            "properties": {
                                "annotations": [],
                                "type": "KustoDatabase",
                                "typeProperties": {
                                    "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                                    "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                                    "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                                }
                            }
                        },
                        "type": "KustoDatabaseTable",
                        "schema": []
                    }
                }
            },
            {
                "name": "Set No Email",
                "description": "set alert status to no email if there is no email",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "AlertsWhenAOPShouldBeEnabled",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.set-or-append  AlertLogs <|\nlet validOwners = \nworkspace_owner\n| where isnotempty( trim(\" \", PrimaryEmail)) or isnotempty( trim(\" \", SecondaryEmail))\n| extend emails = strcat(PrimaryEmail,\";\",SecondaryEmail)\n| summarize arg_max(ingestion_time(), emails) by workspaceId\n| project emails, workspaceId;\nAlertLogs\n| where ingestion_time() > todatetime(\"', variables('now'),'\")\n| extend IngestionTime = ingestion_time()\n| summarize  arg_max(IngestionTime,*) by WorkspaceId, data_itemId\n| where AlertStatus == \"Initial\"\n| join kind=leftanti (\n    validOwners\n) on $left.WorkspaceId == $right.workspaceId\n| project WorkspaceName, WorkspaceId, wstime, data_itemKind, data_itemName, data_itemId, AlertStatus = \"NoEmail\", UserId')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            },
            {
                "name": "Set AOP No Email",
                "description": "if workspace does not have emails assigned we set it to no email",
                "type": "KustoQueryLanguage",
                "dependsOn": [
                    {
                        "activity": "AOPChangeAlertLog",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "command": {
                        "value": "@concat('.append AOPAlertLogs <|\nlet latestWorkspaceEmail = \nworkspace_owner\n| where isnotempty( trim(\" \", PrimaryEmail)) or isnotempty( trim(\" \", SecondaryEmail))\n| extend emails = strcat(PrimaryEmail,\";\",SecondaryEmail)\n| summarize arg_max(ingestion_time(), emails) by workspaceId\n| project emails, workspaceId;\nAOPAlertLogs\n| where ingestion_time() > todatetime(\"', variables('now'), '\")\n| extend IngestionTime = ingestion_time()\n| summarize arg_max(IngestionTime,*) by WorkspaceId, Id\n| where AlertStatus == \"Initial\"\n| join kind=leftanti (\n    latestWorkspaceEmail\n) on $left.WorkspaceId == $right.workspaceId\n| project WorkspaceId, ToChangeAOP, AOP, AOPMustBe, CreationTime, UserId, AlertStatus = \"NoEmail\", Id, UserKey')",
                        "type": "Expression"
                    },
                    "commandTimeout": "00:20:00"
                },
                "linkedService": {
                    "name": "MonitoringEventhouse",
                    "objectId": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4",
                    "properties": {
                        "annotations": [],
                        "type": "KustoDatabase",
                        "typeProperties": {
                            "workspaceId": "611585cb-6332-4849-995e-efce839973f1",
                            "endpoint": "https://trd-6uegjpfbf030eemxtw.z1.kusto.fabric.microsoft.com",
                            "database": "9dfa4f65-3226-4324-b450-5cdf8cdb11a4"
                        }
                    }
                }
            }
        ],
        "variables": {
            "now": {
                "type": "String"
            },
            "EmailListArray": {
                "type": "Array"
            },
            "emailList": {
                "type": "String"
            }
        },
        "lastModifiedByObjectId": "03a65ab7-d0e9-4e6b-95cb-2de5bbb7ac43",
        "lastPublishTime": "2026-04-09T14:39:38Z"
    }
}